<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>JavaBank</title>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          modelType="text/css"/>
    <script modelType="application/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script modelType="application/javascript" async
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <h2 th:text="${'Customer ' + customer.getId()}"></h2>
    <br th:if="${not #lists.isEmpty(customer)}">
    <p th:text="${'First Name: ' + customer.getFirstName()}"></p>
    <p th:text="${'Last Name: ' + customer.getLastName()}"></p>
    <p th:text="${'Email: ' + customer.getEmail()}"></p>
    <p th:text="${'Phone: ' + customer.getPhone()}"></p>

    <h2>Accounts</h2>
    <h4>Balance</h4>
    <tr th:each="account : ${customer.getAccounts()}">
        <td th:text="${account.getId() + ': ' + account.getBalance()}"></td>
        </br>
    </tr>
    <a class="btn btn-default" th:href="@{/customer/list}">Customer List</a>
</div>
</body>
</html>
